name: Lint and analyse files

permissions:
  contents: read

on: [push, pull_request]

jobs:
    lint-php:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Use php 8.1
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.1
            - name: Validate composer.json and composer.lock
              run: composer validate
            - name: Cache module
              uses: actions/cache@v5
              with:
                  path: ~/.composer/cache/
                  key: composer-cache
            - name: Install dependencies
              run: composer install --no-interaction
            - name: Lint files
              run: composer run phpcs

    analyse-php:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Use php 8.1
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.1
            - name: Cache module
              uses: actions/cache@v5
              with:
                  path: ~/.composer/cache/
                  key: composer-cache
            - name: Install dependencies
              run: composer install --no-interaction
            - name: Analyse files
              run: composer run phpstan
